@import url('https://fonts.googleapis.com/css?family=Cookie|Lobster+Two&display=swap');
ion-content{
    --ion-background-color:#007ea6;
}
.wrapper{
    position:absolute;
    top:10%;
    left:50%;
    transform: translate(-50%,-50%);
    height:60px;
    width:200px;
}
ion-card{
    margin-top:200px;
    background-color: #06bee1;
    --ion-background-color:#06bee1;
    padding:10px;
}
ion-item{
   --color:#fff;
}
ion-button {
    --background:#fec601;
    --background-activated:#f1c40f;
    --color:#004183;
    --color-activated:#004183;
    font-family: 'Lobster Two', cursive;
    font-size:20px;
}
.to-login{
    margin:50px;
    color:white;
}
.navlink{
    text-decoration: none;
    color:#fec601;
}
text{
    stroke:#fff;
    fill:#ffffff;
    stroke-dasharray:1800;
    opacity:10;
    animation:animate 3s cubic-bezier(0,0.23,1,.1);
}
@keyframes animate{
    0%{
        opacity: 0;
        fill: none;
        stroke-dashoffset: 1800;
    }
    30%{
        opacity: 10;
        fill:none;
        stroke-dashoffset: 1800;
    }
    90%{
        fill:rgba(225,225,225,0);

    }
    100%{
        opacity: 10;
        fill:rgba(225,225,225,1);
        stroke-dashoffset: 0;
    }
}
.st0{fill:none;}
.st1{fill:#fff;stroke:#FFFFFF;stroke-miterlimit:10;}
.st2{font-family:'Cookie', cursive;}
.st3{font-size:140px;}
