ion-toolbar{
    --background:#004183;
    --color:#fec601;
  }
ion-menu-toggle ion-item{
    --color:#004183;
    --background:#fec601;
    margin-top:8px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
ion-menu{
    background:rgba(0,0,0,0.3);
}
.sidemanu{
}