<ion-header>
  <ion-toolbar dark>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ridy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Plan A Ride</ion-card-subtitle>
  </ion-card-header>
  <ion-item>
  <ion-label position="floating">Pickup Area</ion-label>
  <ion-input></ion-input>
  </ion-item>
   <ion-item>
  <ion-label position="floating">Pickup Address</ion-label>
  <ion-input></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="floating">Drop Area</ion-label>
  <ion-input></ion-input>
  </ion-item>
   <ion-item>
  <ion-label position="floating">Drop Address</ion-label>
  <ion-input></ion-input>
  </ion-item>
    <ion-item>
 <ion-checkbox color="warning"  slot="start"></ion-checkbox>
 <ion-label style="margin-left:20px;margin-top:-5px !important;">Two Wheeler </ion-label>
 <ion-checkbox color="warning"></ion-checkbox>
 <ion-label style="margin-left:20px;margin-top:-5px !important;">Four Wheeler </ion-label>
  </ion-item>
    <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Time</ion-label>
    <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
  </ion-item>
  <ion-card-content>

  </ion-card-content>
</ion-card>
</ion-content>
